
@{
    ViewBag.Title = "CMSN";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";

}

<body>
    <div class="container mt-4 layer">
        <div class="row">
            <div class="col-12">
                <div class="thu">
                    <div class="thuTitle text-center">
                        <div class="something">Chúc mừng sinh nhật, Darling!</div>
                    </div>
                    <div class="content">
                        <div class="tamthu p-5">
                            Mas, lại lớn thêm một tuổi rồi, <br>cảm ơn ông trời ngày hôm nay của 22 năm về trước đã gửi anh đến nhân gian,<br>
                            Đầu tiên, chúc anh không chỉ sinh nhật vui vẻ mà mỗi ngày, mỗi giờ, mỗi phút, mỗi giây đều luôn vui vẻ <br>
                            Thứ hai, chúc trong mắt anh đều là ánh sáng, trong nụ cười là thẳng thắn vô tư.<br>
                            Thứ ba, chúc anh luôn hạnh phúc, không phiền muộn, không sóng gió. <br>
                            Thứ tư, chúc anh luôn đạt được những điều mình muốn, những điều đạt được đều là tốt nhất <br>
                            Thứ năm, chúc anh luôn đẹp trai, đáng yêu. <br>
                            Thứ sáu, chúc anh tiền đồ như gấm <br>
                            Thứ bảy, chúc anh tuổi mới đong đầy, bao nhiêu hạnh phúc đều là của anh<br>
                            Thứ tám, chúc anh có thể luôn bên cạnh những người thân yêu <br>
                            Thứ chín, chúc anh sớm có người yêu bên cạnh, ờm, tốt nhất người đó là em. Không phải em thì lời chúc này không tồn tại. <br>
                            Thứ mười, chúc anh trong túi có money trong lòng có honey <br />
                            Mười một, Every candle on your cake is another year I’ve been lucky to know you, darling! <br>
                            Mười hai, Sending you beautiful wishes that are as beautiful and sweet as flowers, for that you will always be here for me till the end of the world.<br />
                            Mười ba, số 13 xui lắm, nên chúc anh luôn luôn may mắn.<br />
                            Mười bốn, May this day be as sunny as your smile, and as beautiful as you are. You shine every day, but on this day, you will shine the brightest.<br />
                            Mười năm, I hope your birthday is as beautiful and full of love as you are. You deserve only the best, and I wish that for you. Best wishes, my love.<br />
                            Mười sáu, Bon anniversaire! <br />
                            Mười bảy, Hy vọng năm sau em cũng có thể đón sinh nhật cùng anh <br />
                            Mười tám, mong anh đọc được nhiều cuốn sách hay, xem được những bộ phim thú vị. <br />
                            Mười chín, chúc anh luôn bình an, mạnh mẽ vượt qua hết thảy khó khăn <br />
                            Hai mươi, anh rất giỏi, rất tốt, mong tuổi trẻ của anh rực rỡ, mỗi ngày đều là ngày tuyệt vời nhất <br />
                            Hai mươi mốt, Tặng anh 28470 nụ cười, anh cất kỹ đi, mỗi ngày lấy ra 1 nụ cười, không được quên đâu đó ~ Cheese <br /> 
                            Hai mươi hai, cám ơn trời, cảm ơn đất, cảm ơn ánh mặt trời chiếu xuống nhân gian. Cám ơn gió cám ơn mây, cám ơn định mệnh đã để em gặp anh




                        </div>
                        <div class="col-12 text-center">
                            <div class="btn btn-primary mb-5"><a href="/Home/Present" style="color: #f4f4f4;">Ừ thì, quà của anh nè  <i class="fa fa-gift"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>